*{
    margin:0;
    padding:0;
}

html,body{
    height:100%;
    width:100%;
    box-sizing: border-box;
    padding:20px;
}
#main{
    width:100%;
    height:100%;
    display:flex;
    gap:10px;
    flex-wrap:wrap;
}
#box{
    margin:20px;
    height:380px;
    width:250px;

    padding:10px 20px;
    background-color: rgb(178, 194, 209);
    text-align: center; 
}

h4{
    margin-top:10px;
}
button{
    margin-top:10px;
    padding:10px 20px;
    background-color: aqua;
    border:none;
    border-radius: 50px;
}

button:active{
    scale:0.95;
}
img{
    height:100px;
    width:100px;
    object-fit: cover;
    border-radius:50%;
}