*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

html,body{
    height:100%;
    width:100%;
}

body{
    padding-top:5vw;
}
#main{
    height:100%;
    width:100%;
    padding:0.1px;
}

#nav{
    position:fixed;
    z-index: 1000;
    top:0;
    height:5vw;
    width:99.9%;
    margin-top:1vw;
    border:2px solid black;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin-left:0.1vw;
    transition: all linear 0.3s;  
    background-color: rgb(155, 164, 171);

}


#nav h1,h2{
    /* padding:10px 20px; */
    height:100%;

}

#nav h1{
    width:20%;
    font-family: monument;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:3vw;
    letter-spacing: -3px;
    position:relative;
   
}
#nav h1::after{
    content:"©️";
    font-size:15px;
    position:absolute;
    top:-2px;
    right:3px;
    font-weight: 400;
}
#nav h1:before{
    content:"model management";
    position:absolute;
    font-weight: 400;
    font-family: gilroy;
    font-size:8px;
    bottom:0%;
    right:0%;
    letter-spacing: 1px;
}
#nav h2{
    font-weight:500;
    width:20%;
    font-size:2vw;
    display:flex;
    align-items: center;
    justify-content: center;
    border-right:2px solid black;
}
#nav #lnav{
    width:10%;
    border-right:0px;

}

#nav #lsnav{
    width:30%;
}
#center{
    height:88%;
    width:100%;
    /* background-color: blue; */
    padding:3vw;
}

#content{
    height:100%;
    width:100%;
    position:relative;
}
#content video{
    height:100%;
    width:100%;
    object-fit: cover;
}
#overlay{
    height:60%;
    width:100%;
    position:absolute;
    bottom:0;
    padding:10px;
   
  
    /* background-color: red; */
   
}
#over1{
    width:100%;
    height:70%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    padding:1vw 0;

}
#over1 h1{
    font-weight: 700;
    font-size:6vw;
    font-family: monument;
}
#over1 h2{
    border:1px solid white;
    /* background-color: aqua; */
    height:5vw;
    width:5vw;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight:400;
    font-size: small;
  
}
#over2{
   /* background-color: aqua; */
   height:30%;
   width:100%;
   display:flex;
   justify-content: space-between;
   align-items: center;
   border-top:2px solid white;
   color:white;
}

#over2 img{
    height:50%;
    width:10%
}

#scroll{
    height:40vh;
    width:100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container{
    width:125%;
    height:100%;
    /* background-color:blue; */
    display:inline-block;
    padding:1vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;   
}

#container img{
    height:95%;
    width:15vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: 30% 30%;
    margin:1vw;
}

@keyframes anime{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 4px));
    }
}

#alphabet{
    height:7vw;
    width:100%;
    border-top:2px solid black;
    border-bottom:2px solid black;  
    margin-top:10vh; 
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 5vw;
}

#alphabet h5{
    font-size: 2vw;
    text-transform: uppercase;
    font-style: italic;   
    margin-right:2vw;
    border-bottom: 2px solid black;
    font-weight:400;
}

#alphabet h6{
    font-size:1vw;
    font-weight:400;
    text-transform: uppercase;
    font-style:italic;
    padding: 0.6vw;
    border:1px solid #00000000;
    border-radius: 50%;
}

#alphabet h6:hover{
    border:1px solid black;
}

#center2{
    height:90vh;
    width:100%;
    padding:3vw;
    display:flex;
    justify-content: space-between;
}

#center21{
    height:100%;
    width:60%;
    background-image:url(https://plus.unsplash.com/premium_photo-1689371956254-1a8adca96b78?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size:cover;
    background-position-y:26%;
}

#center22{
    height:100%;
    width:35%;
}

#center22 img{
    height:75%;
    width:100%;
    object-fit: cover;
}

#center22 #content{
    height:25%;
    width:100%;
    display:flex;
    justify-content: space-between;
    padding-top:2vw;
}

#center22 #content h2{
    font-size:1.1vw;
}

#center22 #content h5{
    font-size:1vw;
    font-weight: 400;
}

#center3{
     height:90vh;
    width:100%;
    padding:3vw;
    display: flex;
}

#center31{
height: 100%;
width:40%;
display:flex;
flex-direction: column;
justify-content: space-between;
}

#center31 #up{
    height:60%;
    width:100%;
    position:relative;
}

#center31 #up img{
    height:100%;
    width:100%;
}

#center31 #up i{
    position:absolute;
    margin-left:50%;
    margin-top:25%;
}

#center31 #down h4{
    font-size:2vw;
    font-weight: 549;
}

#center32{
    height:100%;
    width:60%;    
}

#center32 img{
    height:100%;
    width:100%;
    object-fit: cover;
}

#center4{
     height:90vh;
    width:100%;
    padding:3vw;
}

#center4 img{
    height:100%;
    width:100%;
    object-fit: cover;
    object-position: top;
}

#updates{
    height:91vh;
    width:100%;
    padding:3vw;
}

#updates>h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 5vh;
    height:5vh;
    margin-bottom:9vh;
}

.elem{
    /* background-color: red; */
    height:18vh;
    width:100%;
    border-top:2px solid black;
    display:flex;
    align-items: center;
    justify-content: space-between;    
    position:relative;
    transition:all ease 1s;
}

.elem:nth-last-child(1){
    border-bottom:2px solid black;
}

.elem>h3{
    width:10%;
    text-transform: uppercase;
    font-weight:500;
}

.elem #elem-part2{
    width:45%;
}

.elem #elem-part2 h5{
    text-transform:uppercase;
    font-size:1vw;
}

.elem #elem-part2 h1{
    font-size:2.5vw;
    font-weight: 400;
}

.elem img{
    height:90%;
    width:8%;
    border-radius:50%;
    object-fit: cover;
    object-position:top;
    position:absolute;
    left:12%;
    transition:all ease 1s;
    opacity:0;
}

.elem:nth-last-child(1) img{
    left:40%;
}

.elem:nth-last-child(3) img{
    left:40%;
}

.elem:hover img{
    opacity:1;
    left:24%;
}

.elem:hover{
    background-color: rgb(207, 206, 206);
}

#center5{
    width:100%;
    height:80vh;
    padding:3vw;
    margin-top:10vh;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
#center51{
    height:100%;
    width:48%;

}

#center51 img{
    width:100%;
    height:100%;
    object-fit: cover;
}
#center52{
    height:100%;
    width:47%;
    position:relative;
    

}
#center52>h1{
    text-transform: uppercase;
    font-size:4vw;
    font-weight: 470;
    font-family: monument;
}
#center52 h3{
    font-family:'Times New Roman', Times, serif;
    margin-top:4vh;
    margin-bottom:5vh;
}
#center52-bottom{
    height:40%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    position:absolute;
    bottom:0px;
    
}
#center52-bottom img:nth-child(1){
    height:100%;
    width:48%;
    object-fit: cover;
    object-position:center;
}

#center52-bottom img:nth-child(2){
    height:100%;
    width:48%;
    object-fit: cover;
    object-position:top;
}


#center6{
    width:100%;
    height:90vh;
    padding:3vw;
}
#center6 img{
    height:100%;
    width:100%;
    object-fit: cover;
}

#center7{
    width:100%;
    height:80vh;
    padding:3vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#center71{
    height:100%;
    width:48%;

}

#center71 img{
    height:100%;
    width:100%;
    object-fit: cover;
}



#center72{
    height:100%;
    width:48%;
}
#center72-top{
    height:65%;
    width:100%;
    margin-bottom:8%;
}
#center72-top img{
    height:100%;
    width:100%;
    object-fit: cover;
    object-position: top;
}
#center72-bottom{
    height:40%;
    width:100%;
    display: flex;
    gap:3.5vw;
}
#marque{
    width:100%;
    white-space:nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top:4vh;
    border-top:2px solid black;
    border-bottom:2px solid black;
   

}

#marque h1{
    display:inline-block;
    text-transform: uppercase;
    margin-right:10px;
    -webkit-text-stroke: 1px black;
    color:transparent;
    letter-spacing: 2px;
    font-weight:900;
    font-family:monument;
    animation-name: move;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move{
    from{
        transform: translateX(0);
    }
    to{
        transform:translateX(calc(-100% - 14px));
    }
}
@media(max-width:600px){
#nav{
    height:8vw;
    width:99.9%;
    margin-top:2vw;
    border:2px solid black;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin-left:0.1vw

}

#nav h1,h2{
    /* padding:10px 20px; */
    height:100%;

}

#nav h1{
    width:20%;
    font-family: monument;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:6vw;
    letter-spacing: -3px;
    position:relative;
   
}
#nav h1::after{
    display:none;
}
#nav h1:before{
    
    display:none;
}
#nav h2{
    font-weight:500;
    width:20%;
    font-size:2.7vw;
    display:flex;
    align-items: center;
    justify-content: center;
    border-right:2px solid black;
}
#nav #lnav{
    width:10%;
    border-right:0px;

}

#nav #lsnav{
    width:30%;
}
#center{
    height:65%;
    width:100%;
    /* background-color: blue; */
    padding:3vw;
}

#over1{
    width:100%;
    height:60%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    color:white;

}
#over1 h1{
    font-weight: 700;
    font-size:6vw;
    font-family: monument;
}
#over1 h2{
    border:1px solid white;
    /* background-color: aqua; */
    height:7vw;
    width:7vw;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight:400;
    font-size: small;
  
}


#scroll{
    height:21vh;
    width:100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#alphabet{
    height:10vw;
    width:100%;
    border-top:2px solid black;
    border-bottom:2px solid black;  
    margin-top:5vh; 
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 3vw;
}

#alphabet h5{
    font-size: 3vw;
    text-transform: uppercase;
    font-style: italic;   
    margin-right:2vw;
    border-bottom: 2px solid black;
    font-weight:400;
}

#alphabet h6{
    font-size:2.5vw;
    font-weight:400;
    text-transform: uppercase;
    font-style:italic;
    padding: 0.6vw;
    border:1px solid #00000000;
    border-radius: 50%;
}



#center2{
    height:80vh;
    width:100%;
    padding:3vw;
    display:flex;
    justify-content: space-between;
}

#center21{
    height:100%;
    width:50%;
    background-image:url(https://plus.unsplash.com/premium_photo-1689371956254-1a8adca96b78?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size:cover;
    background-position-y:26%;
}

#center22{
    height:100%;
    width:45%;
}

#center22 img{
    height:75%;
    width:100%;
    object-fit: fill;
}

#center22 #content{
    height:25%;
    width:100%;
    display:flex;
    justify-content: space-between;
    padding-top:2vw;
}

#center22 #content h2{
    font-size:2.5vw;
}

#center22 #content h5{
    font-size:1.8vw;
    font-weight: 400;
}

#center3{
     height:80vh;
    width:100%;
    padding:3vw;
    display: flex;
}

#center31{
height: 100%;
width:45%;
display:flex;
flex-direction: column;
justify-content: space-between;
}

#center31 #up{
    height:50%;
    width:100%;
    margin-top:3vw;
    position:relative;
}

#center31 #up img{
    height:90%;
    width:100%;
}

#center31 #up i{
    position:absolute;
    margin-left:47%;
    margin-top:37%;
}

#center31 #down h4{
    font-size:2.5vw;
    font-weight: 549;
}



#updates{
    height:80vh;
    width:100%;
    padding:3vw;
}





.elem #elem-part2{
    width:35%;

}

.elem #elem-part2 h5{
    text-transform:uppercase;
    font-size:1.5vw;
}

.elem #elem-part2 h1{
    font-size:3vw;
    font-weight: 400;
}

.elem img{
    height:80%;
    width:17%;
    border-radius:50%;
    object-fit: cover;
    object-position:top;
    position:absolute;
    left:12%;
    transition:all ease 1s;
    opacity:0;
}

.elem:nth-last-child(1) img{
    left:40%;
}

.elem:nth-last-child(3) img{
    left:40%;
}

.elem:hover img{
    opacity:1;
    left:28%;
}

.elem:hover{
    background-color: rgb(207, 206, 206);
}

#center5{
    width:100%;
    height:80vh;
    padding:3vw;
    margin-top:10vh;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
#center51{
    height:100%;
    width:48%;

}

#center51 img{
    width:100%;
    height:100%;
    object-fit: cover;
}
#center52{
    height:100%;
    width:47%;
    position:relative;
    

}
#center52>h1{
    text-transform: uppercase;
    font-size:4vw;
    font-weight: 470;
    font-family: monument;
}
#center52 h3{
    font-family:'Times New Roman', Times, serif;
    margin-top:4vh;
    margin-bottom:5vh;
    font-size:3vh;
   
}
#center52-bottom{
    height:35%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    position:absolute;
    bottom:0px;
    
}


#center7{
    width:100%;
    height:80vh;
    padding:3vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#center71{
    height:100%;
    width:48%;

}

#center71 img{
    height:100%;
    width:100%;
    object-fit: cover;
}



#center72{
    height:100%;
    width:48%;
}
#center72-top{
    height:65%;
    width:100%;
    margin-bottom:5%;
}
#center72-top img{
    height:100%;
    width:100%;
    object-fit: cover;
    object-position: top;
}
#center72-bottom{
    height:32%;
    width:100%;
    display: flex;
    justify-content: space-between;

}
#center72-bottom h4{
  font-size:10px;
}

}