html,body{
    height:100%;
    width: 100%;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}


.heart {
  position: relative;
  width: 100px;
  height: 90px;
  /* background-color: red; */
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 80px;
  background-color: rgb(196, 186, 186);
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart::before {
  left: 50px;
  top: 0;
  transform-origin: 0 100%;
}

.heart::after {
  left: 0;
  top: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}   

.clickeffect {
  position: relative;
  width: 100px;
  height: 90px;
  /* background-color: red; */
}

.clickeffect::before,
.clickeffect::after {
  content: "";
  position: absolute;
  left:50%;
  right:50%;
  width: 50px;
  height: 80px;
  background-color: rgb(224, 11, 11);
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.clickeffect::before {
  left: 50px;
  top: 0;
  transform-origin: 0 100%;
}

.clickeffect::after {
  left: 0;
  top: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}  

div:active{
    scale:0.95;
}

