html,body{
    height:100%;
    width:100%;

}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

#main{
    height:100%;
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

button{
    padding:10px 20px;
    border:none;
}

button:active{
    scale:0.95;
}

.dark{
    background-color: black;
}

.light{
    background-color: white;
}