body,html{
   width:100%;
   height:100%;
   box-sizing: border-box;
}
*{
    margin:0;
    padding:0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#box{
    height:50%;
    width:50%;
    padding:10px 10px;
    background-color: rgb(11, 198, 195);
    border-radius: 50px;
    text-align: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
h1{
    height:50%;
    width:50%;
    padding:20px 20px;
    font-size:35px;

}
h5{
  height:50%;
  width:50%;
  padding:20px 20px;
  text-align: center;
  font-size: 25px;
}
button{
    height:50%;
    width:30%;
    padding:20px 20px;
    border-radius: 50px;
    

}