*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height:100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#box{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 2px solid black;
}

button{
    padding:20px 20px;
    background-color: aqua;
    border-radius: 50px;
}

button:active{
    scale:0.95;
}