*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

html,body{
    height:100%;
    width:100%;
    font:10vh;

}

#main{
    height:100%;
    width:100%;
    
}

#nav{
    height:80px;
    width:100%;
    display:flex;
    align-items:center;
    gap:20px;
    justify-content: flex-end;
    padding:0 20px;

}

#nav h4{
    font-size: 25px;
}

#nav i{
    padding:20px;
    background-color:black;
    color:white;
    border-radius:50%;

}

#head{
    font-size:xx-large;
    height:50%;
    width:50%;
    margin-left:10%;
}

#left{
    height:30%;
    width:30%;
    margin-left:10%;

}

#head2{
    display:flex;
    justify-content: space-between;

}

#right{
    width:50%;
    height:40%;
    padding:0 20px;
    line-height: 10vh;

}

#right h1{
    border-top:5px solid black;

}

#right h1{
    display:flex;
    justify-content: space-between;

}

#bottom{
    height:70vh;
    margin-top:30px;
  
}

#bottom img{
    width:100%;
    height:100%;
    
}

#right h1 i{
    opacity:0;
}

#right h1:hover i{
    opacity:1;
}

#right h1:hover {
    background-color:rgb(135, 133, 133);
}
