*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html,body{
    height:100%;
    width:100%;
}

#main{
    height:100%;
    width:100%;
    display:flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding:0 40px;
   
}

#left{
    height:100%;
    width:40%;
    display:flex;
    flex-direction: column;
    
}



#left1 {
    height:50%;
    width:100%;
    padding:10px 20px;
    font-size:80px;
    font-weight: 400;
    line-height:85px;
    display:flex;
    align-items: center;
}

#left2{
    height:50%;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    padding:10px;

}

#bottom-left{
    width:70%;
}

#bottom-left h3{
    margin-bottom:10px;
}


#color{
    width:fit-content;
    height:30px;
    border-radius:30px;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top:60px;
    border:2px solid black;
    
    padding:10px 10px;
}
#color div{
    border-radius:50%;
    height:15px;
    width:15px;

    
}

#color p{
    margin-right:10px;
}

#color1{
    margin-right:6px;
    background-color:rgb(232, 10, 210);
}

#color2{
    background-color:rgb(1, 72, 68);
}

#right{
    height:80%;
    width:30%;
    position:relative;
    margin-left:15px;
}
#right-top{

    display:flex;
    justify-content:space-between;
}
#right-top h4{
    font-size:xx-small;
}

#right img{
    height:95%;
    width:100%;
    object-fit: cover;
    margin-top:10px;
    
}
#gola{
    height:150px;
    width:150px;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color:white;
    position:absolute;
    top:30%;
    right:-27%;
}
#teda{
    position:absolute;
    transform-origin:left;
    font-size:20px;
    font-weight:700;
    rotate:-90deg;
    width:fit-content;
    bottom:5%;
    left:-10%;

}
