*{
    margin:0;
    padding:0;
}
html,body{
    width:100%;
    height:100%;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
}
#box{
    height:150px;
    width:400px;
    background-color:rgb(231, 227, 227);
    padding:20px 20px;
    border-radius: 30px;
}
#completed{
    height:20px;
    width: 100%;
    background-color: rgb(110, 117, 110);
    border-radius: 50px;
}
#completed #fill{
    height:100%;
    width:0%;
    background-color: green;
    border-radius: 50px;
}
h3{
    margin-left:85%;
    margin-top:10px;
    font-size:x-large;
}
#bottom{
    display:flex;
    justify-content: space-between;
    margin-top:60px;
}
button{
    background-color: green;
    color:white;
    padding:10px 20px;
    border-radius: 30px;
}
#bottom h1{
    text-transform: uppercase;
}
button:active{
    scale:0.95;
}
